/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Basic Portfolio Assignment */


body {
    background-image: url(../images/email-pattern.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Fonts */

h1, h3, h5 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

/* Header */

header {
    height: 75px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-bottom: 8px solid #cccccc;
}

header h1 {
    background-color: #4aaaa5;
    color: white;
    padding: 15px;
    margin-left: 123px;
    margin-top: 13px;
    float: left;
    font-size: 2em;
}

#grid {
    display: grid;
    float: right;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-top: 40px;
    margin-right: 125px;
}

a {
    text-decoration: none;
    color: #777777;
    font-size: 16px;
}

/* Images */

#bioImage {
    float: left;
    width: 250px;
    height: 200px;
    padding-right: 20px;
}

#grid2 {
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: auto;
    grid-gap: 10px;
}

img {
    display: inline-block;
    width: 250px;
    height: 125px;
}

.box {
    position: relative;
    display: inline-block;
}

.box .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 60%;
    text-align: center;
    width: 100%;
    height: 25%;
    background-color: #4aaaa5;
    color: white;
    padding-top: 10px;
}

/* Content */

.clearfix h1 {
    color: #4aaaa5;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}

.textBox {
    width: 100%;
}

#message {
    width: 100%;
    height: 250px;
}

#submit {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1.25em;
    border: none;
}

form {
    color: #777777;
}

/* Clearfix */

.clearfix {
    border: 5px solid #dddddd;
    clear: both;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 500px;
    padding: 20px;
}

/* Footer */

footer {
    background-color: #666666;
    color: white;
    text-align: center;
    height: 50px;
    border-top: 8px solid #4aaaa5;
    margin-top: 20px;
}

footer h5 {
    font-size: .83em;
    padding-top: 30px;
    padding-bottom: 0;
}


/* Media Queries */

@media only screen and (max-width: 980px) {

    #bioImage {
        width: 30%;
    }

    .clearfix {
        width: 45%;
        margin-left: 13%;
        margin-right: 0;

    }

    footer {
        position: sticky;
        bottom: 0;
        padding: 5px;
    }

}

@media only screen and (max-width: 768px) {

    header h1 {
        margin-left: 2%;
    }

    header #grid {
        margin-right: 2%;
    }

    .clearfix {
        width: 90%;
        margin-left: 2%;
    }

}

@media only screen and (max-width: 640px) {

    header {
        position: static;
        margin: 0;
        padding: 0;
        border: none;
    }

    header h1 {
        float: none;
        background-color: #4aaaa5;
        text-align: center;
        font-size: 2em;
        margin: 0;

    }

    header #grid {
        float: none;
        display: block;
        background-color: white;
        text-align: center;
        margin: 0;
        padding: 2% 2%;
        border-bottom: solid 1px #dddddd;
    }

    .clearfix {
        clear: none;
        margin-top: 10%;
    }

}